@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 50;
    font-style: normal;
}

.card-text{
    font-weight: 100;
    font-size: 18px;
    color: #0a4049;
    font-family:"Anton";
    font-style: normal;
    margin-bottom: 13px;
}

.title{
    font-weight: 100;
    font-size: 40px;
    color: #083741;
    font-family:"Anton";
    font-style: normal;
    margin-bottom: 13px;
}

.contenedorbody{
    background: #f0f0f0;
}

.stilo{
    font-family: "Anton";
    color: #0a4049;
    border-radius: 10px;
    background: #f0f0f0;
    box-shadow:  9px 9px 9px #a6a6a6,
             -9px -9px 9px #ffffff;
}
.stilooo{
    font-family: "Anton";
    color: #0a4049;
    border-radius: 15px;
    background: #f5f4f4;
    box-shadow:  9px 9px 9px #a6a6a6,
             -9px -9px 9px #ffffff;
}
.stiloo{
    border-radius: 15px;
    background: #eeeded;
    color: #4e55572f;
    box-shadow: inset 12px 12px 24px #bebebe,
            inset -12px -12px 24px #ffffff;
}

.contproyectos{
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;

}

.parrafos {
    width: 300px; 
    overflow: hidden; 
}
  
.textto {
    color: #324c50;
    word-wrap: break-word; 
    white-space: normal; 
}
.textdate{
    color: #ac4616;
    font-family: "Anton";

}
.textmension{
    font-size: 25px;
    color: #0d4164;
    font-family: "Anton";

}

.user-img {
    width: 300px;
    height: 150px;
    border-radius:12px;
    background:rgb(255, 255, 255);
}

#imgsocial{
    height: 400px;
    width:550px ;
    border-radius: 25px;
}
#imgmujersocial{
    height: 530px;
    border-radius: 8px;
    opacity: 70%;
}
#imgdocente{
    height:70px;
    border-radius: 100%;
    width:70px;
    padding: 2px;
    filter: drop-shadow(rgb(1, 29, 37));
    background: #4b2309;
    box-shadow:  9px 9px 9px #a6a6a6,
             -9px -9px 9px #ffffff;
}

.btnn{
    font-family: "Anton";
    text-decoration: none;
    width: 170px;
    color: #ac4616;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    background: #f0f0f0;
    box-shadow:  9px 9px 9px #a6a6a6,
             -9px -9px 9px #ffffff;

}
.btnn:hover{
    color: #ac4616;
    background: #eeeded;
    box-shadow: inset 12px 12px 24px #bebebe,
            inset -12px -12px 24px #ffffff;

}