{% extends 'Principal.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container px-lg-5 font">
  <div class="container px-lg-5">
    <h1 id="letr" class="text-center pb-5 pt-4">AGREGAR NUEVO FORMULARIO ALCANZE DE PROYECTO</h1>
    <article class="pb-5" >
      <form id="pot" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a >
          <input name="" id="boton1" class="btn btn-primary " type="submit" value="Enviar Informacion">
        </a>
        <a name="" id="boton1" class="btn btn-danger " href="{% url 'dashboard' %}" role="button">Cancelar</a>
      </form>
      <br>
    </article>
  </div> 
</div>
{% endblock  %}