{% extends 'base.html' %}

{% block content %}

<br>
<br>
<article class="container "> 
    <h1 class="align-items-center justify-content-center text-center">Perfiles por Aprobar</h1>
    <br>
    {% for perfil in perfil %}
    <div class="container">
        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ perfil.Persona.Imagen.url }}" class="img-fluid rounded-start" style="height: 250px;" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Nombre: {{ perfil.Persona.author.username  }}</h5>
                        <h5 class="card-title">{{ perfil.TituloP }}</h5>
                        <h2 data-label="Documento Proyecto"><a href="{{ perfil.DocumentacionP.url }}" class="list-group-item list-group-item-action">
                            <i class="bi bi-file-earmark-pdf-fill"></i> Documento</a></h2>
                        <p class="card-text"><small class="text-body-secondary">acatengo que poner fecha</small></p>
                        <div class="align-items-center justify-content-center text-center" style="display: flex; gap: 10px;"> <!-- Ajusta el valor de gap según lo desees -->
                            <form action="{% url 'blogs:AprobarPerfil' perfil.idPrf %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Aprobar</button>
                            </form>
                            <form action="{% url 'blogs:RechazarPerfil' perfil.idPrf %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Rechazar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    {% endfor %}
</article> 
<br>
<br>
<br>
<br>
<br>
{% endblock %}
