{% extends 'base.html' %}
{% load markdown_extras %}
{% load crispy_forms_tags %}

{% block content %} 

<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

    <main class="container">

        <div class="row g-5">
            <div class="col-md-12">

                <div class="row">
                    <div class="d-flex justify-content-between">
                        <h1>{{ post.title }}</h1>
                        <div class="align-self-end">Publicado: {{ post.pub_date.date }}</div>
                    </div>
                </div>
                <hr class="d-none d-md-block my-2 mb-3 mt-2">
                {% if post.image %}
                    <div class="text-center">
                        <img src="{{ post.image.url }}" class="img-fluid" alt="image">
                    </div>
                {% endif %}

                <p>{{ post.content | markdown | safe }}</p>

                <h3 id="comments-section">Comentarios</h3>
                <hr class="d-none d-md-block my-2 mb-3 mt-2">

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Enter</button>
                </form>
                <!-- Agrega el siguiente script JavaScript -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtén el formulario de comentarios por su ID
        const commentForm = document.getElementById('comment-form');
        
        // Agrega un event listener para el evento submit del formulario
        commentForm.addEventListener('submit', function(event) {
            // Prevén el comportamiento por defecto del formulario
            event.preventDefault();
            
            // Envía el formulario mediante AJAX
            fetch(commentForm.action, {
                method: commentForm.method,
                body: new FormData(commentForm),
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Agrega el token CSRF
                }
            })
            .then(response => {
                if (response.ok) {
                    // Si el comentario se envió correctamente, recarga la página actual
                    window.location.reload();
                } else {
                    // Si ocurrió un error, muestra un mensaje de error (puedes personalizar esto según tus necesidades)
                    alert('Ocurrió un error al enviar el comentario. Por favor, inténtalo de nuevo.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Si ocurrió un error, muestra un mensaje de error (puedes personalizar esto según tus necesidades)
                alert('Ocurrió un error al enviar el comentario. Por favor, inténtalo de nuevo.');
            });
        });
    });
</script>
                <hr class="d-none d-md-block my-2 mb-3 mt-2">

                {% for comment in post.comment_set.all %}
                    <div class="mt-4 mb-2 border border-opacity-10 rounded p-1">
                        <div class="row">
                            <div class="col-8 d-flex">
                                <h5>{{ comment.author.username }}</h5>
                                <span>- {{ comment.post_date }}</span>
                            </div>
                            <div class="col-4 text-end">
                            </div>
                        </div>
                        {{ comment.content }}
                    </div>
                {% endfor %}
            </div>
        </div>

    </main>
</div>

{% endblock content %}