{% extends 'Principal.html' %} {% block content %}

<h1 class="text-center titulosgeneral">FORMULARIO PRESENTACION DE ALCANCE DE PERFIL DE PROYECTO</h1>
<br />
{% if proyectos %}
<div class="container mt-3">
  {% for proyecto in proyectos %}
  <div class="card narrow-card">
    <div class="row no-gutters">
      <!-- Foto en un lado -->
      {% if proyecto.persona.imagen %}
      <div class="col-md-3 col-lg-3 centered-img">
        <img
          src="{{ proyecto.persona.imagen.url }}"
          class="card-img  imgperfil"
          alt="{{ proyecto.persona.user.username }}"
        />
      </div>
      {% else %}
      <!-- Manejar el caso en que la persona no tenga una imagen -->
      <p>No hay imagen disponible</p>
      {% endif %}
      <!-- Contenido en el otro lado -->
      <div class="col-md-7 col-lg-8">
        <div class="card-body">
          <!-- Texto con formato pre -->
          <pre id="aaa">MODALIDAD OPTADA: {{ proyecto.categoria.titulo }}              {{ proyecto.fecha_creacion }}</pre>
          <!-- Título -->
          <h5 class="card-title">Titulo: {{ proyecto.titulo }}</h5>
          <!-- Descripción -->
          <p class="card-text">Descripción:<br>{{ proyecto.overview }}</p>
          <div class="container text-center">
            <div class="row">
              <div class="col contdoc">
                <div class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-richtext-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M7 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V9.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V9s1.54-1.274 1.639-1.208M5 11h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
                  </svg>
                  <a
                    href="{{ proyecto.documentacion.url }}"
                    class="list-group-item list-group-item-action"
                    >Documento</a
                  >
                </div>
              </div>
              <div class="col">
                <h5 class="card-state">Estado Revisión: {{proyecto.estado}}</h5>
              </div>
            </div> 
          </div>
          <br>
          <!-- Espacio de comentarios -->
          <br />
          <!-- Botón para ver documento -->
          <h5 class="card-title text-center">Comentarios Retroalimentativos</h5>
          {% for comentario in proyecto.commentario_set.all %}
          <h6 class="card-state">
            Corregido por: {{ comentario.user.username }} en
            {{comentario.Fecha_post }}
          </h6>
          <p class="card-text">Comentario: {{ comentario.comentari }}</p>
          {% empty %}
          <p class="card-text">No hay comentarios para este proyecto.</p>
          {% endfor %}
        </div>
        <br>
      </div>
    </div>
  </div>
  <br>
  {% endfor %}
</div>

{% if proyectos.has_other_pages %}
<div class="pagination">
  <span class="step-links">
    {% if proyectos.has_previous %}
    <a class="page-link" href="?page=1">&laquo; Primero</a>
    <a class="page-link" href="?page={{ proyectos.previous_page_number }}"
      >Anterior</a
    >
    {% endif %}

    <span class="current">
      Página {{ proyectos.number }} de {{ proyectos.paginator.num_pages }}.
    </span>

    {% if proyectos.has_next %}
    <a href="?page={{ proyectos.next_page_number }}">Siguiente</a>
    <a href="?page={{ proyectos.paginator.num_pages }}">Último &raquo;</a>
    {% endif %}
  </span>
</div>
{% endif %} {% else %}
<p>No hay proyectos asociados a este usuario. Consulta en la administración.</p>
{% endif %} {% endblock %}
