{% extends 'Principal.html' %} 
{% block content %}
<h1 class="text-center titulosgeneral">PRESENTACION FORMULARIO DE PROYECTO INTERACCIÓN SOCIAL</h1>
<br />
{% for proyecto in page_obj %}
<div class="container mt-3">
  <div class="card narrow-card">
    <div class="row no-gutters">
      {% if proyecto.S_Imagen %}         
      <div class="col-md-3 col-lg-3 centered-img">
        <img
          src="{{ proyecto.S_Imagen.url }}"
          class="card-img  imgperfil"
          alt="img por defecto"
        />
      </div>
      {% endif %}
      <div class="col-md-7 col-lg-8 pb-5">
        <h2 class="card-state text-end pt-3">{{ persona.user.username }} Mis Proyectos</h2>
        <div class="card-body">
          <pre id="aaa">FECHA INICIO : {{ proyecto.Fecha_Inicio }}                                TERMINO EN : {{ proyecto.Fecha_Finalizacion }}</pre>
          <h5 class="card-title">Titulo: {{ proyecto.S_Titulo }}</h5>
          <p class="card-text">Descripción:<br>{{ proyecto.S_Descripcion }}</p>
          <div class="container text-center">
            <div class="row">
              {% if proyecto.S_Documentacion %}
              <div class="col contdoc">
                <div class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-richtext-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M7 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V9.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V9s1.54-1.274 1.639-1.208M5 11h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
                  </svg>
                  <a
                    href="{{ proyecto.S_Documentacion.url }}"
                    class="list-group-item list-group-item-action"
                    >Documento
                  </a>
                </div>
              </div> 
              {% endif %}
            </div> 
          </div>
          <br><br /> 
          {% endfor %}
         
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
          </div>
        </div><br>
      </div>
    </div>
  </div><br>
</div>
{% endblock %}


