{% extends 'principal.html'%} {% load static %} {% block content %}
<style>
    .img-container {
        display: flex;
        justify-content: center;
    }

    .imgfh {
        width: 300px;
        height: 300px;
        transform: translateY(-20%);
        object-fit: cover;
        border-radius:17px ;
        
    }
</style>
<h1 class="text-center font">PERFIL DE USUARIO</h1><br />
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card no-gutters">
        <div class="img-container">
          <img src="{{ personav.imagen.url }}"class="imgfh card-img-top no-gutters" alt="Imagen de la persona" width="200"/>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Nombre: {{ personav.user.first_name }} {{ personav.user.last_name }}</h5>
          <p class="card-text">Cedula Identidad: {{ personav.dni }}</p>
          <p class="card-text">Fecha de Nacimiento: {{ personav.fecha_nacimiento }}</p>
          <p class="card-text">Teléfono: {{ personav.telefono }}</p>
        </div>
        <div class="col-md-2 ">
            <a href="{% url 'editar_persona' %}" class="btn btn mt-3 float-end no-gutters">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
            </a>
        </div>
        <br />
      </div>
    </div>
  </div><br /><br /><br />
</div>
{% endblock %}
